[include]
    path = ~/.gitconfig.local
[diff]
    tool = vimdiff
    algorithm = histogram
    indentHeuristic = true
    colorMoved = dimmed-zebra
    colorMovedWS = allow-indentation-change
[difftool]
    prompt = false
[merge]
    ff = false
    tool = vimdiff
[mergetool]
    prompt = false
[pull]
    ff = only
[pager]
    log = which diff-highlight >/dev/null && diff-highlight | less || less
    show = which diff-highlight >/dev/null && diff-highlight | less || less
    diff = which diff-highlight >/dev/null && diff-highlight | less || less
[alias]
    logg = log --graph --all --pretty=format:'%C(yellow)%h %G?%C(auto)%d %s %C(magenta)(%cd) %C(bold blue)<%an>' --date=relative
    logga = "!f() { git logg $(git rev-list --reflog) $@; }; f"
    undo = "!f() { git reset --hard $(git rev-parse --abbrev-ref HEAD)@{${1-1}}; }; f"
[ghq]
    root = ~/ghq
