set completion-ignore-case on
set show-all-if-ambiguous on
set menu-complete-display-prefix on
set colored-stats on
set colored-completion-prefix on
set show-mode-in-prompt on
set emacs-mode-string
set vi-ins-mode-string (i)
set vi-cmd-mode-string (c)

set editing-mode vi
$if mode=vi
    "\C-e": emacs-editing-mode

    set keymap vi-command
    "\C-l": clear-screen

    set keymap vi-insert
    "\C-l": clear-screen

    TAB: menu-complete
    "\e[Z": menu-complete-backward

    "\C-p": history-search-backward
    "\C-n": history-search-forward
    "\e[A": history-search-backward
    "\e[B": history-search-forward
$endif

set editing-mode emacs
$if mode=emacs
    "\e\C-j": vi-editing-mode
    "\e\C-m": vi-editing-mode
    "\e\C-e": vi-editing-mode

    TAB: menu-complete
    "\e[Z": menu-complete-backward

    "\C-p": history-search-backward
    "\C-n": history-search-forward
    "\e[A": history-search-backward
    "\e[B": history-search-forward
$endif
